<br/>
<h1><%=h @ad.title %></h1>
<h3>Reply to: <%= @ad.email.to_s %></h3>
<br/>
<p><%=h @ad.ad %></p>

<% @ad.ad_images.each do |ad_image| %>
  <%= link_to image_tag(ad_image.public_filename(:show)), ad_image.public_filename, :target => "_blank" %>  
<% end %>