<p>Logged-in as: <%= current_user.email %>&nbsp;<a href="/logout">[Logout]</a></p>
<div id="admin-row">
  <p>
    <a href="/password">Change Password</a> &nbsp; | &nbsp;
    <a href="/parent">Parent Categories</a> &nbsp; | &nbsp;   
    <a href="/category">Categories</a>&nbsp; | &nbsp;
    <a href="/manager">Ads</a> &nbsp; | &nbsp;
	<a href="/authors">Authors</a> &nbsp; | &nbsp;
    <a href="/user">Users</a> &nbsp; | &nbsp;
    <a href="/logout">Logout</a>
  </p>
</div>