/* 
    Document   : chuckslist
    Author     : kevin
    Description:
        Chuckslist stylesheet
*/

body {
    background-color: #f0f0f0;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10pt;
    color: #000000;
}

h1 {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10pt;
    font-weight: bold;
    color: #333333;
}

h2 {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10pt;
    padding-left: 5px;
    color: #333333;
}

ul.ads {
    padding-top: 5px;
    padding-left: 5px;
}

li {
    padding-left: 5px;
}

a:link {
    color: #006666;    
    text-decoration: none;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}

a:hover {
    color: #006666;
    text-decoration: underline;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}

a:visited
{
    color: #999900;
    text-decoration: none;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}

#admin-row {
    padding-top: 0.1em;
    padding-left: 0.5em;
    padding-bottom: 0.1em;
    background: #cccccc;
}

.cell-longtext {
    width: 40%;
}

.cell-shorttext {
    width: 20%;
}

.expired-row {
    color: #ff0000;
}

tr.header td {
    background-color: #000000;
    color: #ffffff;    
    font-family: Verdana,Arial,Helvetica,sans-serif;
    padding-left: 1em;
    padding-right: 1em;
}

tr.rowodd td {
    background-color: #cccccc;
    color: #000000;
    padding-left: 1em;
    padding-right: 1em;
}

tr.roweven td {
    background-color: #ffffff;
    color: #000000;
    padding-left: 1em;
    padding-right: 1em;
}

tr.rowexpired td {
    font-style: italic;
    color: #999999;
}

tr.edit td {
    padding: 1em;
	background-color: #BE1101;
	color: #FFFFFF;
}

div.ads {
    background-color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 1px;
    padding-right: 10px; 
}

div.ads_category {
    background-color: #cccccc;
    font-size: 12pt;
    font-weight: bold;
    color: #000000;
    font-variant: small-caps;
    font-style: normal;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 10px;
}

div.login {
    background-color: #ffffcc;
    font-size :12pt;
    color: #000000;
    padding-top: 30px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    width: 300px;
}

.col1
{
    float:left;
    position:relative;
    padding:0 0 1em 0;
}

.admin-form fieldset {
    background-color: #ffefd5;
    border: 1px solid;
    padding: 1em 1em;
}

.admin-form legend {
    color: #ffffff;
    background-color: #be1011;
    padding: 0.2em 1em;
    margin-left: 0.5em;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-color: #000000;
    border-bottom-color: #000000;
    border-left-color: #000000;
    border-right-color: #000000;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
}

.admin-form label {
    width: 7em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block;
}

.admin-form .submit {
    margin-left: 7.5em;
}

.admin-form .footer-controls, .admin-form .footer-controls .a, 
      .admin-form .footer-controls .a:visited, 
      .admin-form .footer-controls .a:hover, 
      .admin-form .footer-controls .a:active{
    color: blue;
    font-size: 12px;
    padding-top: 3px;
    text-align: left;
}

.admin-form #footer-text {
    vertical-align: 30%;
}

.admin-form .pagination{
    padding: 2px;
}

.admin-form .pagination ul{
margin: 0;
padding: 0;
text-align: center;
font-size: 10px;
}

.admin-form .pagination li{
list-style-type: none;
display: inline;
padding-bottom: 1px;
}

.admin-form .pagination a, .pagination a:visited{
padding: 0 5px;
border: 1px dotted #006666;
text-decoration: none; 
color: #000000;
}

.admin-form .pagination a:hover, .pagination a:active{
border: 1px solid #2b66a5;
color: #000;
background-color: #FFFF80;
}

.admin-form .pagination a.currentpage{
background-color: #006666;
color: #FFF;
border-color: #2b66a5;
font-weight: bold;
cursor: default;
}

.admin-form .pagination a.disablelink, .admin-form .pagination a.disablelink:hover{
background-color: white;
cursor: default;
color: #929292;
border-color: #929292;
font-weight: normal !important;
}

.admin-form .pagination a.prevnext{
font-weight: bold;
}

.admin-form #footer-new-category-show {
    
}

.admin-form #footer-new-category-hide {
    
}

.fieldsWithErrors {
    padding: 1px;
    background-color: red;
    display: table;
}